<div class="table-part" style="margin-top: 50px;margin-left: 200px;border-style: solid;border-color: black;width: 100%;height: 500px;padding: 10px;">
    <table style="width:100%">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Role</th>
          <th>State</th>
          <th>Zip code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table_data | async">
          <td>{{ item.f_name }}</td>
            <td>{{ item.l_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.role}}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.zip_code }}</td>
        </tr>
      </tbody>
      </table>
</div>